#This script is for log reboot updates
#This prints timestamp like the below lines
date +%d-%m-%y/%H:%M:%S >> cronjob_updates.txt
#16-09-22/20:17:12
@reboot date >> /var/log/apt/automaticupdates.log
@reboot date >> /var/log/apt/automaticupgrades.log
@reboot apt update -q -y  >> /var/log/apt/automaticupdates.log
@reboot apt -y upgrade -q -y  >> /var/log/apt/automaticupgrades.log

